:root {
  --selection-light: #ffe9b4;
  --selection-dark: #8189ae;

  --ixm-green: #9ccc65;
  --ixm-blue: #61aeee;
  --ixm-red: #f92672;

  --gray-000: #fafbfc;
  --gray-100: #f6f8fa;
  --gray-200: #e1e4e8;
  --gray-300: #d1d5da;
  --gray-400: #959da5;
  --gray-500: #51737d;
  --gray-600: #586069;
  --gray-700: #444d56;
  --gray-800: #2f363d;
  --gray-900: #24292e;

  --blue-000: #f1f8ff;
  --blue-100: #dbedff;
  --blue-200: #c8e1ff;
  --blue-300: #79b8ff;
  --blue-400: #2188ff;
  --blue-500: #0366d6;
  --blue-600: #005cc5;
  --blue-700: #044289;
  --blue-800: #032f62;
  --blue-900: #05264c;

  --green-000: #f0fff4;
  --green-100: #dcffe4;
  --green-200: #bef5cb;
  --green-300: #85e89d;
  --green-400: #34d058;
  --green-500: #28a745;
  --green-600: #22863a;
  --green-700: #176f2c;
  --green-800: #165c26;
  --green-900: #144620;

  --purple-000: #f5f0ff;
  --purple-100: #e6dcfd;
  --purple-200: #d1bcf9;
  --purple-300: #b392f0;
  --purple-400: #8a63d2;
  --purple-500: #6f42c1;
  --purple-600: #5a32a3;
  --purple-700: #4c2889;
  --purple-800: #3a1d6e;
  --purple-900: #29134e;

  --yellow-000: #fffdef;
  --yellow-100: #fffbdd;
  --yellow-200: #fff5b1;
  --yellow-300: #ffea7f;
  --yellow-400: #ffdf5d;
  --yellow-500: #ffd33d;
  --yellow-600: #f9c513;
  --yellow-700: #dbab09;
  --yellow-800: #b08800;
  --yellow-900: #735c0f;

  --orange-000: #fff8f2;
  --orange-100: #ffebda;
  --orange-200: #ffd1ac;
  --orange-300: #ffab70;
  --orange-400: #fb8532;
  --orange-500: #f66a0a;
  --orange-600: #e36209;
  --orange-700: #d15704;
  --orange-800: #c24e00;
  --orange-900: #a04100;

  --red-000: #ffeef0;
  --red-100: #ffdce0;
  --red-200: #fdaeb7;
  --red-300: #f97583;
  --red-400: #ea4a5a;
  --red-500: #d73a49;
  --red-600: #cb2431;
  --red-700: #b31d28;
  --red-800: #9e1c23;
  --red-900: #86181d;

  --pink-000: #ffeef8;
  --pink-100: #fedbf0;
  --pink-200: #f9b3dd;
  --pink-300: #f692ce;
  --pink-400: #ec6cb9;
  --pink-500: #ea4aaa;
  --pink-600: #d03592;
  --pink-700: #b93a86;
  --pink-800: #99306f;
  --pink-900: #6d224f;

  --black: #1b1f23;
  --white: #ffffff;

  --gray: var(--gray-500);
  --blue: var(--blue-500);
  --green: var(--green-500);
  --purple: var(--purple-500);
  --yellow: var(--yellow-500);
  --orange: var(--orange-500);
  --red: var(--red-500);
  --pink: var(--pink-500);

  --black-fade-85: rgba(27, 31, 35, .85);
  --black-fade-75: rgba(27, 31, 35, .75);
  --black-fade-50: rgba(27, 31, 35, .50);

  --white-fade-85: rgba(255, 255, 255, .85);
  --white-fade-75: rgba(255, 255, 255, .75);
  --white-fade-50: rgba(255, 255, 255, .50);
}


/* atom one dark theme */
:root {
  --atom-dark-mono-000: #282c34;
  --atom-dark-mono-100: #353b45;
  --atom-dark-mono-200: #3e4451;
  --atom-dark-mono-300: #545862;
  --atom-dark-mono-400: #565c64;
  --atom-dark-mono-500: #abb2bf;
  --atom-dark-mono-600: #b6bdca;
  --atom-dark-mono-700: #c8ccd4;

  --atom-dark-purple: #c678dd;
  --atom-dark-orange: #d19a66;
  --atom-dark-yellow: #e5c07b;
  --atom-dark-green: #98c379;
  --atom-dark-brown: #be5046;
  --atom-dark-cyan: #56b6c2;
  --atom-dark-blue: #61afef;
  --atom-dark-red: #e06c75;
}

/* atom one light theme */
:root {
  --atom-light-mono-000: #fafafa;
  --atom-light-mono-500: #383a42;

  --atom-light-purple: #a626a4;
  --atom-light-orange: #e45649;
  --atom-light-yellow: #c18401;
  --atom-light-green: #50a14f;
  --atom-light-brown: #986801;
  --atom-light-cyan: #0184bb;
  --atom-light-blue: #4078f2;
  --atom-light-red: #c91243;
}

/* ayu light */
:root {
  --ayu-light-accent: #ff9940;
  --ayu-light-background: #fafafa;
  --ayu-light-foreground: #575f66;
  --ayu-light-common-ui: #8a9199;
  --ayu-light-syntax-tag: #55b4d4;
  --ayu-light-syntax-func: #f2ae49;
  --ayu-light-syntax-entity: #399ee6;
  --ayu-light-syntax-string: #86b300;
  --ayu-light-syntax-regexp: #4cbf99;
  --ayu-light-syntax-markup: #f07171;
  --ayu-light-syntax-keyword: #fa8d3e;
  --ayu-light-syntax-special: #e6ba7e;
  --ayu-light-syntax-comment: #abb0b6;
  --ayu-light-syntax-constant: #a37acc;
  --ayu-light-syntax-operator: #ed9366;
  --ayu-light-syntax-error: #f51818;
  --ayu-light-ui-line: #8a91991a;
  --ayu-light-ui-panel-background: #ffffff;
  --ayu-light-ui-panel-shadow: #424a5040;
  --ayu-light-ui-panel-border: #f0f0f0;
  --ayu-light-ui-gutter-normal: #8a919966;
  --ayu-light-ui-gutter-active: #8a9199cc;
  --ayu-light-ui-selection-background: #d1e4f4;
  --ayu-light-ui-selection-inactive: #e7e8e9;
  --ayu-light-ui-selection-border: #e1e1e2;
  --ayu-light-ui-guide-active: #8a919959;
  --ayu-light-ui-guide-normal: #8a91992e;
  --ayu-light-vcs-added: #99bf4d;
  --ayu-light-vcs-modified: #709ecc;
  --ayu-light-vcs-removed: #f27983;
}

/* ayu mirage */
:root {
  --ayu-mirage-accent: #ffcc66;
  --ayu-mirage-background: #1f2430;
  --ayu-mirage-foreground: #cbccc6;
  --ayu-mirage-common-ui: #707a8c;
  --ayu-mirage-syntax-tag: #5ccfe6;
  --ayu-mirage-syntax-func: #ffd580;
  --ayu-mirage-syntax-entity: #73d0ff;
  --ayu-mirage-syntax-string: #bae67e;
  --ayu-mirage-syntax-regexp: #95e6cb;
  --ayu-mirage-syntax-markup: #f28779;
  --ayu-mirage-syntax-keyword: #ffa759;
  --ayu-mirage-syntax-special: #ffe6b3;
  --ayu-mirage-syntax-comment: #5c6773;
  --ayu-mirage-syntax-constant: #d4bfff;
  --ayu-mirage-syntax-operator: #f29e74;
  --ayu-mirage-syntax-error: #ff3333;
  --ayu-mirage-ui-line: #191e2a;
  --ayu-mirage-ui-panel-background: #232834;
  --ayu-mirage-ui-panel-shadow: #141925;
  --ayu-mirage-ui-panel-border: #101521;
  --ayu-mirage-ui-gutter-normal: #707a8c66;
  --ayu-mirage-ui-gutter-active: #707a8ccc;
  --ayu-mirage-ui-selection-background: #33415e;
  --ayu-mirage-ui-selection-inactive: #323a4c;
  --ayu-mirage-ui-selection-border: #323a4c;
  --ayu-mirage-ui-guide-active: #707a8cb3;
  --ayu-mirage-ui-guide-normal: #707a8c4d;
  --ayu-mirage-vcs-added: #a6cc70;
  --ayu-mirage-vcs-modified: #77a8d9;
  --ayu-mirage-vcs-removed: #f27983;
}
/* ayu dark */
:root {
  --ayu-dark-accent:  #e6b450;
  --ayu-dark-background:  #0a0e14;
  --ayu-dark-foreground:  #b3b1ad;
  --ayu-dark-common-ui:  #4d5566;
  --ayu-dark-syntax-tag:  #39bae6;
  --ayu-dark-syntax-func:  #ffb454;
  --ayu-dark-syntax-entity:  #59c2ff;
  --ayu-dark-syntax-string:  #c2d94c;
  --ayu-dark-syntax-regexp:  #95e6cb;
  --ayu-dark-syntax-markup: #f07178;
  --ayu-dark-syntax-keyword: #ff8f40;
  --ayu-dark-syntax-special: #e6b673;
  --ayu-dark-syntax-comment: #626a73;
  --ayu-dark-syntax-constant: #ffee99;
  --ayu-dark-syntax-operator: #f29668;
  --ayu-dark-syntax-error: #ff3333;
  --ayu-dark-ui-line: #00010a;
  --ayu-dark-ui-panel-background: #0d1016;
  --ayu-dark-ui-panel-shadow: #00010a;
  --ayu-dark-ui-panel-border: #000000;
  --ayu-dark-ui-gutter-normal: #4d556699;
  --ayu-dark-ui-gutter-active: #4d5566e6;
  --ayu-dark-ui-selection-background: #273747;
  --ayu-dark-ui-selection-inactive: #1b2733;
  --ayu-dark-ui-selection-border: #304357;
  --ayu-dark-ui-guide-active: #4d5566b3;
  --ayu-dark-ui-guide-normal: #4d556666;
  --ayu-dark-vcs-added: #91b362;
  --ayu-dark-vcs-modified: #6994bf;
  --ayu-dark-vcs-removed: #d96c75;
}
