{%- if site.edit.link -%}
  {%- assign repository = site.edit.repository | default: site.github.repository_url -%}
  {%- assign branch = site.edit.branch | default: site.github.source.branch -%}
  {%- assign source = site.edit.source | default: site.github.source.path -%}
  {%- assign mode = site.edit.mode | default: "tree" -%}
  {%- assign text = site.edit.text | default: "Edit this page on GitHub" -%}
  <a href="{{repository}}/{{mode}}/{{branch}}{{source}}{{page.path}}">{{text}}</a>
{%- endif -%}
