{% comment %}
TODO: These settings could technically be placed inside the _config.yml but the
exact layout is yet to be documented
{% endcomment %}
<section class="modal" id="settings">
  <aside>
    <a class="icon" href="#">
      <span class="icon close"></span>
    </a>
    <h1>Settings</h1>
    <noscript>
      <p>JavaScript must be enabled for this site for changes to take effect</p>
    </noscript>
    <label for="syntax-theme">Syntax Highlighting Theme</label>
    <select id="syntax-theme">
      <optgroup label="Dark">
        <option value="github-dark">GitHub Dark</option>
        <option value="atom-dark">Atom One Dark</option>
        <option value="ayu-mirage">Ayu (Mirage)</option>
        <option value="ayu-dark">Ayu (Dark)</option>
      </optgroup>
      <optgroup label="Light">
        <option value="github-light">GitHub Light</option>
        <option value="atom-light">Atom One Light</option>
        <option value="ayu-light">Ayu Light</option>
      </optgroup>
    </select>
    <label for="site-theme">Site Theme</label>
    <select id="site-theme">
      <option value="system">System</option>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
    <p>
      This information is stored entirely locally and only affects how
      documentation is displayed.
    </p>
    <button id="reset-settings" type="button">Reset</button>
  </aside>
</section>
