---
---

@font-face {
  font: {
    family: 'Cascadia Code';
    style: normal;
    display: swap;
  }

  src: url('/assets/fonts/CascadiaCode.woff2') format('woff2'),
       url('/assets/fonts/CascadiaCode.ttf');
}
