---
---
@import "palette";
@import "theme";

@import "specialized";
@import "admonition";
@import "containers";
@import "elements";
@import "modal";

*, *:after, *:before { box-sizing: inherit; }
::selection { background-color: var(--selection-color); }

span.ixm {
 &.green { color: var(--ixm-green); }
 &.blue { color: var(--ixm-blue); }
 &.red { color: var(--ixm-red); }
}
